.element__delete {
  width: 18px;
  height: 19px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/Trash.svg);
  border: 0;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.element__delete:hover {
  opacity: 0.6;
}