.element__heart {
  height: 19px;
  width: 22px;
  color: #000000;
  margin: 30px 20px 30px 0;
  background-image: url(../../../images/heart.svg);
  border: 0;
}

.element__heart:hover {
  opacity: 0.5;
}