.popup__close-icon {
  position: relative;
  left: 402px;
  bottom: 42px;
  width: 32px;
  height: 32px;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/CloseIcon.svg);
  background-size: contain;
  z-index: 3;
  box-sizing: border-box;
}

.popup__close-icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 550px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    bottom: 41px;
    left: 240px;
  }
}